body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

a:hover {
  color: #b98000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.container {
  width: 100%;
  max-width: 1200px; }

.color__logo {
  color: #ed6950; }

.header {
  background-image: url("../img/header/fon.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1000px; }
  .header__inner {
    padding: 0 40px;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding-bottom: 200px; }

.menu {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  z-index: 1; }
  .menu__logo img {
    max-width: 40px;
    -webkit-transform: translate(-10px, 12px);
    -ms-transform: translate(-10px, 12px);
    transform: translate(-10px, 12px); }
  .menu__logo span {
    font-weight: bold;
    font-size: 30px;
    line-height: 92px; }
  .menu__container {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__container ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .menu__container ul li a {
        font-size: 20px;
        font-weight: bold; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  padding-bottom: 200px; }

.content__text {
  text-align: center;
  max-width: 600px;
  height: 60%; }
  .content__text h1 {
    font-size: 92px;
    line-height: 92px;
    color: white;
    font-weight: bold; }
  .content__text span {
    font-weight: bold; }
  .content__text p {
    font-size: 20px;
    color: white;
    opacity: 0.5;
    padding: 40px 0; }

.button {
  height: 50px;
  margin-top: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 40px;
  background-color: #ffc74a;
  font-size: 14px;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  color: #b98000;
  text-transform: uppercase; }

.header__info {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white; }

.categories {
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .categories__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(20% - 20px);
    text-align: center;
    position: relative;
    height: 460px;
    overflow: hidden; }
    .categories__item img {
      width: 100%; }
  .categories__button {
    height: 50px;
    margin-top: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 40px;
    background-color: #ffc74a;
    font-size: 14px;
    line-height: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
    color: #b98000;
    text-transform: uppercase;
    visibility: hidden; }
  .categories__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px;
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .categories__text h3 {
      font-size: 30px;
      color: white;
      padding-bottom: 5px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .categories__text span {
      font-size: 14px;
      color: #ffc74a;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .categories__text a {
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
  .categories__text:hover {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 0; }
    .categories__text:hover h3 {
      font-size: 40px; }
    .categories__text:hover span {
      color: #fff; }
    .categories__text:hover a {
      visibility: visible;
      margin-top: 50px; }

.search {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fbfbfc;
  padding-bottom: 30px; }
  .search__container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .search__container h2 {
      font-size: 30px;
      font-weight: bold;
      color: #606f81;
      padding: 20px;
      width: 100%;
      text-align: center; }
  .search__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px; }
  .search__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    position: relative; }
    .search__input input {
      width: 100%;
      max-width: 800px;
      padding: 25px;
      border: 0;
      border-radius: 35px;
      background-color: rgba(255, 255, 255, 0);
      -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
      box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
      margin-bottom: 15px;
      color: #a0a9b3;
      font-size: 18px;
      font-weight: bold; }
    .search__input ::-webkit-input-placeholder {
      color: #a0a9b3;
      font-size: 18px;
      font-weight: bold; }
    .search__input :-ms-input-placeholder {
      color: #a0a9b3;
      font-size: 18px;
      font-weight: bold; }
    .search__input ::-ms-input-placeholder {
      color: #a0a9b3;
      font-size: 18px;
      font-weight: bold; }
    .search__input ::placeholder {
      color: #a0a9b3;
      font-size: 18px;
      font-weight: bold; }
    .search__input img {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 27px;
      right: 30px; }
  .search__cont-item {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 800px; }
  .search__items {
    width: 50%; }
    .search__items a {
      margin: 0 10px;
      padding: 8px 15px;
      background-color: #bdc8d9;
      font-size: 14px;
      border-radius: 25px; }
    .search__items a:hover {
      background-color: #ffc74a;
      color: white; }
  .search__items-2 {
    width: 50%;
    text-align: end; }
    .search__items-2 a {
      margin: 0 10px;
      border: 1px solid #bdc8d9;
      color: #bdc8d9;
      font-size: 14px;
      border-radius: 25px;
      padding: 7px 15px; }
    .search__items-2 a:hover {
      background-color: #ffc74a;
      color: #bdc8d9; }

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%; }
  .offers__container {
    width: calc(33% - 30px);
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: #606f81;
    -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
    box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15); }
    .offers__container img {
      border-radius: 5px;
      padding-bottom: 30px; }
    .offers__container h4 {
      font-size: 30px;
      line-height: 1;
      font-weight: bold;
      padding: 5px 0; }
    .offers__container p {
      font-size: 14px; }
  .offers__button {
    margin-top: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 14px 23px;
    background-color: rgba(237, 105, 80, 0);
    -webkit-box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
    box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
    font-size: 14px;
    line-height: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
    color: #bdc8d9;
    text-transform: uppercase;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .offers a:hover {
    background-color: #ffc74a;
    color: #b98000; }

.explore {
  background-color: rgba(189, 200, 217, 0.12);
  position: relative;
  height: 800px; }
  .explore__fon {
    margin-top: 50px;
    width: 100%;
    max-width: 756px;
    font-size: 300px;
    line-height: 0.75;
    position: absolute;
    right: 0;
    overflow: hidden; }
    .explore__fon p {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-shadow: 0px 0px 125px rgba(141, 148, 169, 0.25); }
  .explore__container {
    width: 100%;
    max-width: 1290px;
    margin: 0px auto 90px;
    padding-top: 60px;
    z-index: 100;
    position: relative; }
  .explore h2 {
    text-align: center;
    font-size: 30px;
    color: #606f81;
    width: 100%; }
  .explore__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px; }
  .explore__img {
    width: 44%;
    height: 550px;
    position: relative;
    border: 15px solid #ffc74a; }
    .explore__img img {
      position: absolute;
      bottom: 38px;
      right: 38px;
      height: 550px; }
  .explore__text {
    width: calc(50% - 40px); }
    .explore__text h2 {
      text-align: start;
      font-size: 36px;
      font-weight: bold;
      color: #ffc74a;
      padding: 20px 20px 0px 0px; }
    .explore__text > p {
      font-size: 14px;
      line-height: 30px;
      margin-top: 50px; }
  .explore__btn {
    visibility: visible;
    margin: 60px 0; }
